<%- include('header.ejs') %>



    <section class="add-task">
     <h1>Add task</h1>
     <br>
     <form method="POST" action="create">
        <label>Task</label><br>
        <input name="task" class="field"/><br><br>
        <label>Deadline</label><br>
        <input name="date" type="date" class="field"><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <h3><a href="/">to task list</a></h3>
   </section> 
<%- include('footer.ejs') %>