<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    
    <title>Todo list</title>

    
</head>
<body>  
<nav>
    <div class="nav-wrapper">
      <ul class="nav">
        <li><a href="/">Main</a></li>
        <li><a href="/Login">Login</a></li>
        <li><a href="/login/logout">Logout</a></li>
        <li><a href="/Register">Register</a></li>

      </ul>
    </div>
  </nav>



 
